<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sem6_pratice"
        tools:targetApi="31">
        <activity
            android:name=".Notification.Notification_firistactivity"
            android:exported="false" />
        <activity
            android:name=".AlarmManger.DestinationActivity"
            android:exported="false" />
        <activity
            android:name=".Intent.Implicit_Intent"
            android:exported="false" />
        <activity
            android:name=".Notification.Notification_details"
            android:exported="false" />
        <activity
            android:name=".Intent.Explicit_intent"
            android:exported="false" />
        <activity
            android:name=".Intent.explicit_page2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AlarmManger.alarm_firstPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- for alarm manager .......>>> -->
        <receiver android:name=".AlarmManger.AlarmReceiver" />

    </application>

</manifest>